[tool.poetry]
name = "rysk_client"
version = "0.1.0"
description = ""
authors = ["8baller <8ball030@gmail.com>"]
readme = "README.md"
packages = [
    { include = "rysk_client", from = "." },
]

[tool.poetry.dependencies]
python = ">=3.10,<3.11"
web3 = "^5.4.0"
ccxt = "^3.1.15"

[tool.poetry.group.dev.dependencies]
autonomy-dev = {extras = ["all"], version = "^0.1.4"}
jupyterlab = "^4.0.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
